<div class="card">
    <div style="text-align: right;margin-bottom: 5px;" class="mb-3 mt-3">
        <button (click)="addProduct()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#valueModal">New
            Product</button>
    </div>
    <div style="margin:0rem 1rem 1rem 1rem !important;">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#S.No</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Action(s)</th>
                            </tr>
                        </thead>
                        <tbody class="customable">
                            <tr
                                *ngFor="let x of product | paginate: { itemsPerPage: 3, currentPage: presentPage }; index as ItemIndex">
                                <td><img [src]="x.imageUrl" class="rounded-circle" width="30" height="30"></td>
                                <td>{{x.title}}</td>
                                <td>{{x.category}}</td>
                                <td>{{x.price | currency:'INR'}}</td>
                                <td style="width:15%">
                                    <button (click)="editproduct(x)" class="btn btn-secondary" data-bs-toggle="modal"
                                        data-bs-target="#valueModal"><i class="bi bi-pencil-square"></i></button>
                                    &nbsp;
                                    <button (click)="delete(x.id)" class="btn btn-danger"><i
                                            class="bi bi-trash3-fill"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <pagination-controls (pageChange)="presentPage = $event"></pagination-controls>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="valueModal" tabindex="-1" aria-labelledby="valueModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="valueModalLabel">{{modalHeader}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="valueForm">
                        <div class="mb-3">
                            <input formControlName="title" [(ngModel)]="value.title" type="text" name="title"
                                class="form-control" placeholder="title">
                        </div>
                        <div class="mb-3">
                            <input formControlName="price" [(ngModel)]="value.price" type="text" name="price"
                                class="form-control" placeholder="price">
                        </div>
                        <div class="mb-3">
                            <select formControlName="category" class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example" [(ngModel)]="value.category"
                                aria-placeholder="category" name="category" class="form-control">
                                <option *ngFor="let y of category" [value]="y.id">{{y.name}}
                                </option>

                            </select>
                        </div>
                        <div class="mb-3">
                            <input formControlName="imageUrl" [(ngModel)]="value.imageUrl" class="form-control"
                                name="imageUrl" placeholder="imgUrl">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button (click)="saveProduct()" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>