<div class="card">
    <div class="row">
        <div class="col-md-2">
            <div style="text-align: right; margin-right: 1rem !important;" class="mb-3 mt-3">
                <a routerLink="/products" class="btn btn-primary"><i class="bi bi-cart-check-fill"></i>Place Order</a>

            </div>
        </div>
    </div>
    <div style="margin:0rem 1rem 1rem 1rem !important">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead classs="thead-light">
                            <tr class="bg-light">
                                <th>Customer</th>
                                <th>Date</th>
                                <th sortable="amount">Amount</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="customtable">
                            <tr
                                *ngFor="let order of adminorders | paginate : { itemsPerPage: 3, currentPage: presentPage }; index as ItemIndex">
                                <td>{{order.shippingDetails.name}}</td>
                                <td>{{order.datePlaced | date}}</td>
                                <td>{{order.amount | currency:'INR':'symbol'}}</td>
                                <td><a [queryParams]="{viewFrom:'admin'}"
                                        [routerLink]="['/orderdetails',order.id]">View</a></td>

                            </tr>
                            <td colspan="5">
                                <pagination-controls (pageChange)="presentPage = $event"></pagination-controls>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>