<div style=" text-align: center;">
    <p style="font-size:xx-large;font-weight:bolder;margin:auto;color: cadetblue;">Oops!
    </p>
</div>
<div class="mb-3" style="text-align: center;">
    <img [src]="imgUrl">
    <div style="text-align: center;">
        <p style="font-size: x-large;font-weight: bold;margin:auto;color:black;"> You are not Authorized to view this
            page
            not found</p>
    </div>

    <div style="text-align: center">
        <button (click)="go()" class="btn btn-primary btn-lg">Go Back</button>
    </div>