<div class="card componentStyle">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: right;margin-right: 1rem !important; " class="mb-3 mt-3">
                <a routerLink="/products" class="btn btn-primary">Create Order</a>
            </div>
        </div>
    </div>
    <div style="margin: 0rem 1rem 1rem 1rem !important;">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table  mb-0">
                        <thead class="thead-light">
                            <tr class="bg-light ">
                                <th>Customer</th>
                                <th>Date</th>
                                <th sortable="amount">Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="customtable">
                            <tr
                                *ngFor="let order of myOrders  | paginate: { itemsPerPage: 3, currentPage: presentPage }; index as ItemIndex">
                                <td>{{order.shippingDetails.name}}</td>
                                <td>{{order.datePlaced | date}}</td>
                                <td>{{order.amount | currency:'INR':'symbol'}}</td>
                                <td><a [queryParams]="{ viewFrom: 'user'}"
                                        [routerLink]="['/orderdetails', order.id]">View</a></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <pagination-controls (pageChange)="presentPage = $event"></pagination-controls>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>