.card {
    margin-bottom: 30px;
}

.quantity {
    height: 37px;
    line-height: 37px;
    display: grid !important;
}

.card-img-top {
    height: 200px;
}

.vertical {
    border-left: 3px solid rgb(45, 160, 168);
    height: 70%;
    position: absolute;
    left: 50%;
}

.card-footer {
    padding: 0;
    background: #fff;
    display: grid !important;
}

.card-footer button {
    cursor: pointer;
    text-transform: uppercase;
}

.filterCard {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}